<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='styles/style.css') }}"  >
    <title>Welcome to Tagging Hubble!</title>

  <style> 
  body {
  background-image: url({{ url_for('static', filename='img/sombrero_galaxy.jpg') }})
  }
  </style>
</head>
 
 <body >

<h4 style = 'color: ffffff;' class = 'title'>Welcome to Tagging Hubble! </h4>

<h5 style = 'color: ffffff;' >You can now search for Hubble Space Telescope dataset by keywords</h5><br><br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes, style = 'color: ffffff;'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class = 'bigbox'>
  <div class = 'smallbox'>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <div style = 'color: ffffff;' >Exp: gravitational lensing, supernovae, galaxy evolution </div><br>
  <p><input type=submit value=Search>
</form>

</div>
</div>

</body>
</html>